In [1]:
import pandas as pd
%matplotlib inline

In [12]:
!pwd
!ls ../viz
!ls ../viz/LondonDf.csv

/home/vagrant/git/DS420-Cobras/notebooks
Beijing_AirQuality_Stations_en.xlsx  London_AirQuality_Stations.csv
Beijing_aq.csv			     London_aq.csv
BeijingDf.csv			     LondonDf.csv
Beijing_Env.csv			     London_Env.csv
Beijing_grid_weather_station.csv     London_grid_weather_station.csv
Beijing_Nearest_Neighbor.csv	     London_Nearest_Neighbor.csv
Beijing_Neighbors.xlsx		     London_Neighbors.xlsx
Beijing_points.csv		     London_points.csv
Beijing_weather.csv		     London_weather.csv
GeoSpatialViz.pbix		     stash
../viz/LondonDf.csv

In [20]:
LondonDF = pd.read_csv("../viz/LondonDf.csv")
BeijingDF = pd.read_csv("../viz/BeijingDf.csv")

In [21]:
LondonDF.head(3)

,CO_Concentration,NO2_Concentration,O3_Concentration,PM10_Concentration,PM25_Concentration,SO2_Concentration,id,station_id,test_id,time,...,precipProbability,precipType,pressure,summary,temperature,uvIndex,visibility,windBearing,windGust,windSpeed
0,NaN,70.4,NaN,14.3,9.9,NaN,2941506,CD1,None,2018-03-31 07:00:00,...,NaN,rain,998.08,Mostly Cloudy,7.23,NaN,7.09,302,NaN,4.57
1,NaN,44.8,NaN,8.8,8.5,NaN,2941507,BL0,None,2018-03-31 07:00:00,...,NaN,rain,998.07,Mostly Cloudy,7.20,NaN,6.88,297,NaN,4.71
2,NaN,16.5,NaN,8.9,4.8,NaN,2941508,GR4,None,2018-03-31 07:00:00,...,NaN,rain,998.00,Mostly Cloudy,7.12,NaN,6.23,284,NaN,5.55

In [22]:
BeijingDF.head(3)

,CO_Concentration,NO2_Concentration,O3_Concentration,PM10_Concentration,PM25_Concentration,SO2_Concentration,id,station_id,test_id,time,...,precipProbability,precipType,pressure,summary,temperature,uvIndex,visibility,windBearing,windGust,windSpeed
0,0.8,53.0,127.0,172.0,105.0,14.0,2941450,dongsi_aq,None,2018-03-31 07:00:00,...,NaN,rain,NaN,Clear,12.87,NaN,6.69,60.0,NaN,0.89
1,0.9,54.0,121.0,123.0,95.0,15.0,2941451,tiantan_aq,None,2018-03-31 07:00:00,...,NaN,rain,NaN,Clear,12.88,NaN,6.66,60.0,NaN,0.89
2,0.8,66.0,123.0,139.0,95.0,13.0,2941452,guanyuan_aq,None,2018-03-31 07:00:00,...,NaN,rain,NaN,Clear,12.82,NaN,6.92,60.0,NaN,0.89

In [18]:
def check_nulls(df):
    for i, column_label in enumerate(df.columns):
        print('{:2d}: {:20} {:6d} unique values, {:6d} null values, {:2d} data type(s)'.format(
            i,
            column_label + ':', 
            df[column_label].nunique(),
            df[column_label].isnull().sum(),
            len(df[column_label].apply(lambda x: type(x)).value_counts())))

In [19]:
check_nulls(LondonDF)

 0: CO_Concentration:         0 unique values,  23022 null values,  1 data type(s)
 1: NO2_Concentration:     1306 unique values,   7318 null values,  1 data type(s)
 2: O3_Concentration:         0 unique values,  23022 null values,  1 data type(s)
 3: PM10_Concentration:     773 unique values,   6054 null values,  1 data type(s)
 4: PM25_Concentration:     697 unique values,   4406 null values,  1 data type(s)
 5: SO2_Concentration:        0 unique values,  23022 null values,  1 data type(s)
 6: id:                   23022 unique values,      0 null values,  1 data type(s)
 7: station_id:              19 unique values,      0 null values,  1 data type(s)
 8: test_id:                625 unique values,      0 null values,  1 data type(s)
 9: time:                  1220 unique values,      0 null values,  1 data type(s)
10: apparentTemperature:   2625 unique values,      0 null values,  1 data type(s)
11: cloudCover:             101 unique values,   1657 null values,  1 data type(s)
12: datetime:              1220 unique values,      0 null values,  1 data type(s)
13: dewPoint:              1392 unique values,      0 null values,  1 data type(s)
14: humidity:                75 unique values,      0 null values,  1 data type(s)
15: icon:                     8 unique values,      0 null values,  1 data type(s)
16: lat:                     20 unique values,      0 null values,  1 data type(s)
17: long:                    19 unique values,      0 null values,  1 data type(s)
18: ozone:                 5876 unique values,  10127 null values,  1 data type(s)
19: precipIntensity:        536 unique values,  10127 null values,  1 data type(s)
20: precipProbability:       88 unique values,  10127 null values,  1 data type(s)
21: precipType:               1 unique values,   8711 null values,  2 data type(s)
22: pressure:              3381 unique values,      0 null values,  1 data type(s)
23: summary:                 12 unique values,      0 null values,  1 data type(s)
24: temperature:           2306 unique values,      0 null values,  1 data type(s)
25: uvIndex:                  7 unique values,  10203 null values,  1 data type(s)
26: visibility:             912 unique values,     13 null values,  1 data type(s)
27: windBearing:            360 unique values,      0 null values,  1 data type(s)
28: windGust:              2849 unique values,  10203 null values,  1 data type(s)
29: windSpeed:             1897 unique values,      0 null values,  1 data type(s)

In [23]:
check_nulls(BeijingDF)

 0: CO_Concentration:        43 unique values,   1713 null values,  1 data type(s)
 1: NO2_Concentration:      194 unique values,   1734 null values,  1 data type(s)
 2: O3_Concentration:       319 unique values,   1934 null values,  1 data type(s)
 3: PM10_Concentration:     646 unique values,   8063 null values,  1 data type(s)
 4: PM25_Concentration:     329 unique values,   2183 null values,  1 data type(s)
 5: SO2_Concentration:       79 unique values,   1758 null values,  1 data type(s)
 6: id:                   41090 unique values,      0 null values,  1 data type(s)
 7: station_id:              35 unique values,      0 null values,  1 data type(s)
 8: test_id:               1681 unique values,      0 null values,  1 data type(s)
 9: time:                  1174 unique values,      0 null values,  1 data type(s)
10: apparentTemperature:   3634 unique values,      0 null values,  1 data type(s)
11: cloudCover:             101 unique values,   8153 null values,  1 data type(s)
12: datetime:              1174 unique values,      0 null values,  1 data type(s)
13: dewPoint:              3546 unique values,      0 null values,  1 data type(s)
14: humidity:                91 unique values,      0 null values,  1 data type(s)
15: icon:                     8 unique values,      0 null values,  1 data type(s)
16: lat:                     37 unique values,      0 null values,  1 data type(s)
17: long:                    47 unique values,      0 null values,  1 data type(s)
18: ozone:                 9084 unique values,  17262 null values,  1 data type(s)
19: precipIntensity:        629 unique values,  17262 null values,  1 data type(s)
20: precipProbability:       61 unique values,  17262 null values,  1 data type(s)
21: precipType:               2 unique values,  18967 null values,  2 data type(s)
22: pressure:              3010 unique values,  11130 null values,  1 data type(s)
23: summary:                 19 unique values,      0 null values,  1 data type(s)
24: temperature:           3301 unique values,      0 null values,  1 data type(s)
25: uvIndex:                 12 unique values,  17647 null values,  1 data type(s)
26: visibility:             933 unique values,  18384 null values,  1 data type(s)
27: windBearing:            360 unique values,   1457 null values,  1 data type(s)
28: windGust:              1332 unique values,  17647 null values,  1 data type(s)
29: windSpeed:             1190 unique values,   1457 null values,  1 data type(s)

## Key Points
**London has 23022 unique values (id has 23022 values)**
**London nulls**
 0: CO_Concentration:         0 unique values,  23022 null values,  1 data type(s)
 1: NO2_Concentration:     1306 unique values,   7318 null values,  1 data type(s)
 2: O3_Concentration:         0 unique values,  23022 null values,  1 data type(s)
 3: PM10_Concentration:     773 unique values,   6054 null values,  1 data type(s)
 4: PM25_Concentration:     697 unique values,   4406 null values,  1 data type(s)
 5: SO2_Concentration:        0 unique values,  23022 null values,  1 data type(s)
 6: id:                   23022 unique values,      0 null values,  1 data type(s)
 7: station_id:              19 unique values,      0 null values,  1 data type(s)
 8: test_id:                625 unique values,      0 null values,  1 data type(s)
 9: time:                  1220 unique values,      0 null values,  1 data type(s)
10: apparentTemperature:   2625 unique values,      0 null values,  1 data type(s)
11: cloudCover:             101 unique values,   1657 null values,  1 data type(s)
12: datetime:              1220 unique values,      0 null values,  1 data type(s)
13: dewPoint:              1392 unique values,      0 null values,  1 data type(s)
14: humidity:                75 unique values,      0 null values,  1 data type(s)
15: icon:                     8 unique values,      0 null values,  1 data type(s)
16: lat:                     20 unique values,      0 null values,  1 data type(s)
17: long:                    19 unique values,      0 null values,  1 data type(s)
18: ozone:                 5876 unique values,  10127 null values,  1 data type(s)
19: precipIntensity:        536 unique values,  10127 null values,  1 data type(s)
20: precipProbability:       88 unique values,  10127 null values,  1 data type(s)
21: precipType:               1 unique values,   8711 null values,  2 data type(s)
22: pressure:              3381 unique values,      0 null values,  1 data type(s)
23: summary:                 12 unique values,      0 null values,  1 data type(s)
24: temperature:           2306 unique values,      0 null values,  1 data type(s)
25: uvIndex:                  7 unique values,  10203 null values,  1 data type(s)
26: visibility:             912 unique values,     13 null values,  1 data type(s)
27: windBearing:            360 unique values,      0 null values,  1 data type(s)
28: windGust:              2849 unique values,  10203 null values,  1 data type(s)
29: windSpeed:             1897 unique values,      0 null values,  1 data type(s)